#grad {
    background: rgba(90, 90, 90, 0.8); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgba(28, 99, 143, 0.4), rgba(243, 207, 85, 0.60),rgba(211, 48, 48, 0.60)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(255, 255, 255), rgba(28, 99, 143, 0.4), rgba(243, 207, 85, 0.60),rgba(211, 48, 48, 0.60)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(255, 255, 255), rgba(28, 99, 143, 0.4), rgba(243, 207, 85, 0.60),rgba(211, 48, 48, 0.60)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(255, 255, 255), rgba(28, 99, 143, 0.3), rgba(243, 207, 85, 0.60),rgba(211, 48, 48, 0.60)); /* Standard syntax */
}
/*tekst*/
body{
    font-family: 'Oswald', sans-serif;
}

h2,h3{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2em;
    text-align: center;
}

h2{
  margin: 60px 0px 20px 0px;
  line-height: 60px;
}
.album_1 h2{
  border-bottom: double 3px rgba(90, 90, 90, 1);
}
.album_2 h2{
  border-bottom: double 3px rgba(201, 106, 26, 1);
}
.album_3 h2{
  border-bottom: double 3px rgba(211, 48, 48, 1);
}
.quote{
    color: rgba(90, 90, 90, 0.4);
    margin: 0px 0px 10px 0px;
}
p{
  font-size: 18px;
  padding: 1em;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
/*Carousel*/
.carousel{
  margin: 20px 0px;
}
.carousel-indicators li{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

/*lijstjes*/
ol {
  list-style: none;  
  counter-reset: i 0;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

ol li:before {
  content: counter(i);    
  counter-increment: i;
  padding-right: 0.5em;
  font-family: 'Permanent Marker', cursive;
}
.album_1 li:before {
  color:rgba(28, 99, 143, 0.6);
}
.album_2 li:before {
  color:rgba(201, 106, 26, 0.6);
}
.album_3 li:before {
  color:rgba(211, 48, 48, 0.6);
}

.list-group-item {
  margin-bottom: 2px;
  border-radius: 10px  !important; 
  padding-left: 38px;
  text-indent: -18px;
}

.album_1 .list-group-item {
  border: solid 1px rgba(90, 90, 90, 0.6);
}
.album_1 .list-group-item:hover, .album_1 .list-group-item:active {
  border: double 3px rgba(90, 90, 90, 1);
  background-color: transparent;
  color:rgb(255, 255, 255);
  transition: .5s ease;
}

.album_2 .list-group-item {
  border: solid 1px rgba(201, 106, 26, 0.4);
}
.album_2 .list-group-item:hover, .album_2 .list-group-item:active {
  border: double 3px rgba(201, 106, 26, 1);
  background-color: transparent;
  color:rgb(255, 255, 255);
  transition: .5s ease;
}

.album_3 .list-group-item {
  border: solid 1px rgba(211, 48, 48, 0.4);
}
.album_3 .list-group-item:hover, .album_3 .list-group-item:active {
  border: double 3px rgba(211, 48, 48, 1);
  background-color: transparent;
  color:rgb(255, 255, 255);
  transition: .5s ease;
}

/*video's*/
iframe{
  width: 100%;
  height: auto;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
}
iframe:active{
  border-radius: 10px;
  border: none;
}
/*buttons*/
.btn{
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  border-radius: 20px;
  border: double 3px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  display: block;
  cursor: pointer;
  box-shadow: 0 6px rgba(90, 90, 90, 0.2);
}
a:hover{
  text-decoration: none;
}
.btn:active{
  box-shadow: 0 2px rgba(90, 90, 90, 0.6);
  transform: translateY(4px);
}
.album_1 button{
  color: rgba(90, 90, 90, 1);
}
.album_2 button{
  color: rgba(201, 106, 26, 1);
}
.album_3 button{
  color: rgba(211, 48, 48, 1);
}
/*link naar boven*/
.album_1 a{
  color: rgba(90, 90, 90, 0.6);
  margin: 25px auto;
  display: flex;
  justify-content: center;
}
.album_1 a:hover, .album_1 a:active{
  color: rgba(90, 90, 90, 1);
}

.album_2 a{
  color: rgba(201, 106, 26, 0.6);
  margin: 25px auto;
  display: flex;
  justify-content: center;
}
.album_2 a:hover, .album_2 a:active{
  color: rgba(201, 106, 26, 1);
}

.album_3 a{
  color: rgba(211, 48, 48, 0.6);
  margin: 25px auto;
  display: flex;
  justify-content: center;
}
.album_3 a:hover, .album_3 a:active{
  color: rgba(211, 48, 48, 1);
}

/*top-afbeeldingen*/
.container_img {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .overlay_royal {
    background-color: rgba(90, 90, 90, 0.8);
  }
  .overlay_jake {
    background-color: rgba(252, 210, 23, 0.60);
  }
  .overlay_taylor {
    background-color: rgba(211, 48, 48, 0.60);
  }
  
  .container_img:hover .overlay {
    height: 100%;
  }
  .container_img:active .overlay {
    height: 100%;
  }
  
  .text_hover {
    white-space: nowrap; 
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/*heading*/
.display-2{
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 40px;
}

/*social media*/
.social{
  display: flex;
  justify-content: space-around;
}
.social .fa{
   display: inline-block;
    position: relative;
    margin: 20px;
    padding: 0px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(90, 90, 90, 0.2);
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 50%;
}
.fa-twitter{
  color: rgba(255, 255, 255, 0.6);
  border:double 3px transparent;
}
.fa-twitter:hover, .fa-twitter:hover{
  color: rgba(0, 171, 227, 1);
  border:double 3px rgba(255, 255, 255, 0.6);
  transition: .5s ease;
}
.fa-facebook{
  color: rgba(255, 255, 255, 0.6);
  border:double 3px transparent;
}
.fa-facebook:hover, .fa-facebook:hover{
  color: rgba(64, 96, 165, 1);
  border:double 3px rgba(255, 255, 255, 0.6);
  transition: .5s ease;
}
.fa-instagram{
  color: rgba(255, 255, 255, 0.6);
  border:double 3px transparent;
}
.fa-instagram:hover, .fa-instagram:active{
  color: rgba(138, 58, 185, 1);
  border:double 3px rgba(255, 255, 255, 0.6);
  transition: .5s ease;
}
.social .fa:active{
  box-shadow: 0 2px rgba(90, 90, 90, 0.6);
  transform: translateY(4px);
}

/*classes van bootstrap nemen en overschrijven, enkel noteren wat veranderd moet worder*/
/*stel, ik wil dat de titel kleiner is op smartphone --> media queries, zie cursus*/

@media (min-width: 768px) {
    .display-2{
      font-family: 'Oswald', sans-serif;
      font-size: 4em;
      
    }
}
@media (min-width: 768px) {
  h2,h3{
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .quote{
    margin: 75px 0px 55px 0px;
  }
}

@media (min-width: 768px) {
  .carousel{
    margin: 80px 0px 20px 0px;
  }
}

@media (min-width: 768px) {
  iframe{
    width: 100%;
    height: 450px; 
    margin-top: 44px;
    border-radius: 10px;
    border: none;
}

@media (min-width: 768px) {
  .text_hover {
    white-space: nowrap; 
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}
  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }